@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Skoruba.IdentityServer4.STS.Identity.Configuration.Intefaces
@inject IRootConfiguration  RootConfiguration

@model Skoruba.IdentityServer4.STS.Identity.ViewModels.Account.LogoutViewModel

<div class="logout-container">
    <div class="page-header">
        <h1>@Localizer["Title"]</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            @if (RootConfiguration.BrandingConfiguration.IsDefined)
            {
                <p>Would you like to logout of @RootConfiguration.BrandingConfiguration.Name</p>
            }
            else
            {
                <p>@Localizer["Message"]</p>
            }
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">@Localizer["Yes"]</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>